.container {
    background-color: #eae8e8;
    min-height: 100dvh;
    padding: 48px 24px;
}

.content {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Link {
    text-decoration: none;
    border-radius: 8px;
    padding: 12px;
    background-color: white;
    border: 1px solid #d2d1d1;
    display: flex;
    gap: 12px;
}

.bookImage {
    width: 70px;
}


.bookTitle {
    font-size: 1rem;
}



